body {
    position: relative;
    font-size: 2.0rem;
    color: $main-text-color;
    font-family: $standard-font;
    height: auto !important;
}

p {
    margin-bottom: $spacing-medium;
}

.container-fluid {
    max-width: 1280px;
    padding: 0 $spacing-large - $spacing-small;

    @include mobile-down {
        padding: 0 $spacing-medium;
    }
}
