body {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $main-text-color;
  font-family: $standard-font;
  height: auto !important;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font
}

p {
  margin-bottom: $spacing-medium;
}

.container-fluid {
  max-width: 1280px;
  padding: 0 $spacing-large;

  @include mobile-down {
    padding: 0 $spacing-medium;
  }
}
