.top-bar {
  height: $top-bar-height;
  position: absolute;
  z-index: $z-index-top-bar;
  top: 0;
  width: 100%;
  background-color: rgba($white, 0.5);

  @include tablet-down {
    height: $top-bar-mobile-height;
  }
}

%top-bar-content, .top-bar-content {
  @include vertical-center-text($top-bar-height);

  @include tablet-down {
    @include vertical-center-text($top-bar-mobile-height);
  }
}

.website-title {
  @include reset-spacing;
  @extend %top-bar-content;

  font-size: 3.4rem;
  font-weight: bold;

  text-transform: lowercase;
  word-spacing: -0.5ex;
  white-space: nowrap;

  @include mobile-down() {
    font-size: 3rem;
  }
}

.blog-link {
  @extend %top-bar-content;
  @include reset-spacing;
  @include clean-text-links($main-text-color);

  float: right;
  padding: 0 $spacing-small;
  font-size: 2rem;

  &:hover {
    opacity: 0.8;
  }
}
