$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "mixins";

body {
    position: relative;
    font-size: 2.0rem;
    color: $main-text-color;
    font-family: $standard-font;
    height: auto !important;
}

p {
    margin-bottom: $spacing-medium;
}

.container-fluid {
    max-width: 1200px;
    padding: 0 $spacing-large - $spacing-small;

    @include mobile-down {
        padding: 0 $spacing-medium;
    }
}

.btn {
    transition: background-color 0.2s ease;
    border: 2px;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;

    &:active, &:hover {
        box-shadow: 0 0 0 $white;
    }

    &.btn-large {
        padding: 12px 24px;
    }

    &.btn-full-display {
        @include mobile-down {
            width: 100%;
            margin-right: 0;
        }
    }
}

/* Top Bar */

.top-bar {
    transition: height 0.2s ease;
    transition-property: height, background-color;
    height: $top-bar-height;
    position: fixed;
    z-index: $z-index-top-bar;
    top: 0;
    width: 100%;
    background-color: rgba($white, 0.9);
    border-bottom: 0 solid lighten($light-grey, 5%);
    box-shadow: 0 2px 5px rgba($black, 0.2);

    @include tablet-down {
        height: $top-bar-mobile-height;
    }

    &.collapsed {
        height: $top-bar-collapsed-height;
        background-color: rgba($white, 1);
    }
}

.collapsed {
    %top-bar-content, .top-bar-content {
        @include vertical-center-text($top-bar-collapsed-height);

        @include tablet-down {
            @include vertical-center-text($top-bar-collapsed-height);
        }
    }
}

%top-bar-content, .top-bar-content {
    @include vertical-center-text($top-bar-height);
    transition: height 0.2s ease;

    @include tablet-down {
        @include vertical-center-text($top-bar-mobile-height);
    }
}

.website-title {
    @include reset-spacing;
    @extend %top-bar-content;

    a {
        font-size: 3.2rem;
        font-weight: bold;
        @include clean-text-links($soft-night);
    }
}

.main-menu {
    @include reset-list;

    .main-menu-item {
        @include reset-list;
        @extend %top-bar-content;

        float: left;
        margin-left: $spacing-large;

        &:first-child {
            margin-left: 0;
        }

        a {
            @include reset-spacing;
            @include clean-text-links($main-text-color);
            padding: 0 $spacing-small;
            font-size: 2.1rem;

            &:hover {
                background-color: transparent;
            }
        }

        &.active a {
            font-weight: bold;
        }
    }
}

.nav li a {
    @include reset-spacing; //reset boostrap spacing for nav items
}

/* Intro */

.intro {
    @include clearfix;

    background: darken($white, 5%) url(../images/header-bg.jpg) no-repeat 0 center;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 15rem;
    max-height: 800px;

    @include tablet-down {
        padding-top: 24%;
        padding-bottom: 12%;
    }

    @include mobile-down {
        padding-top: 32%;
    }
}

$quote-circle-radius: 30rem;
$quote-circle-small-radius: 22rem;

.quote-circle-container {
    width: $quote-circle-radius;
    height: $quote-circle-radius;

    @include tablet-down {
        width: $quote-circle-small-radius;
        height: $quote-circle-small-radius;
    }
}

.quote-circle {
    border-radius: 9999px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba($white, 0.98);
    padding: $spacing-medium;

    @include size-restricted($quote-circle-radius);

    @include tablet-down {
        @include size-restricted($quote-circle-small-radius);
    }
}

.quote {
    @include reset-spacing;
    padding-top: 1.6rem;
    font-size: 2.1rem;

    .big {
        display: block;
        font-size: 4rem;

        @include tablet-down {
            font-size: 3rem;
        }
    }

    @include tablet-down {
        font-size: 1.8rem;
    }
}

.skill-list {
    @include reset-list;
}

.skill-item {
    @include clearfix;
    @include reset-list;

    padding: $spacing-large + $spacing-medium 0;

    @include mobile-down {
        padding: $spacing-large 0;
    }
}

.skill-item-code {
    background: url('../images/code-bg.jpg') no-repeat center 50% fixed;
    box-shadow: 0 8px 20px lighten($black, 5%) inset;
    background-size: cover;
    color: $white;
}

#info {
    background-color: darken($white, 8%);
    padding: $spacing-extra-large 0;

    @include mobile-down {
        padding: $spacing-large 0;
    }
}

.info-button-section {
    padding-top: $spacing-large;
}

.btn {
    .fa {
        margin-right: 8px;
    }
}

.portrait-ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 256px;
    border-radius: 9999px
}
