$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass";
@import "variables";
@import "mixins";

body {
    position: relative;
    font-size: 1.8rem;
    color: $main-text-color;
    font-family: $standard-font;
}

p {
    margin-bottom: $spacing-medium;
}

.container-fluid {
    max-width: 1200px;
}

.btn {
    border: 2px;
    padding: 8px 14px;
    @include border-radius(8px);
    font-weight: bold;
    font-size: 1.6rem;

    &:active, &:hover {
        @include box-shadow(0 0 0 $white);
    }
}

/* Top Bar */

$top-bar-height: 12rem;
$top-bar-mobile-height: 9rem;
$top-bar-collapsed-height: 6.5rem;

.top-bar {
    @include transition(height 0.2s ease);
    height: $top-bar-height;
    position: fixed;
    z-index: $z-index-top-bar;
    top: 0;
    width: 100%;
    background-color: rgba($white, 0.9);
    border-bottom: 1px solid $light-grey;

    @include tablet-down {
       height: $top-bar-mobile-height; 
    }

    &.collapsed {
        height: $top-bar-collapsed-height;
    }
}

.collapsed {
    %top-bar-content, .top-bar-content {
    @include vertical-center-text($top-bar-collapsed-height);

    @include tablet-down {
        @include vertical-center-text($top-bar-collapsed-height);
    }
}
}

%top-bar-content, .top-bar-content {
    @include transition(height 0.2s ease);
    @include vertical-center-text($top-bar-height);

    @include tablet-down {
        @include vertical-center-text($top-bar-mobile-height);
    }
}

.website-title {
    @include reset-spacing;
    @extend %top-bar-content;

    a {
        font-size: 3.2rem;
        font-weight: bold;
        @include clean-text-links($soft-night);
    }
}

.main-menu {
    @include reset-list;

    .main-menu-item {
        @include reset-list;
        @extend %top-bar-content;

        float: left;
        margin-left: $spacing-large;

        &:first-child {
            margin-left: 0;
        }

        a {
            @include reset-spacing;
            @include clean-text-links($main-text-color);
            padding: 0 $spacing-small;
            font-size: 2.1rem;

            &:hover {
                background-color: transparent;
            }
        }

        &.active a {
            font-weight: bold;
        }
    }
}

.nav li a {
    @include reset-spacing; //reset boostrap spacing for nav items
}

/* Intro */

.intro {
    @include clearfix;

    background: darken($white, 5%) url(../images/header-bg.jpg) no-repeat 0 center;
    @include background-size(cover);
    padding-top: 25rem;
    padding-bottom: 15rem;
    max-height: 800px;

    @include tablet-down {
        padding-top: 24%;
        padding-bottom: 12%;
    }

    @include mobile-down {
        padding-top: 32%;
    }
}

$quote-circle-radius: 30rem;
$quote-circle-small-radius: 22rem;

.quote-circle-container {
    width: $quote-circle-radius;
    height: $quote-circle-radius;

    @include tablet-down {
        width: $quote-circle-small-radius;
        height: $quote-circle-small-radius;
    }
}

.quote-circle {
    @include border-radius(9999px);
    display: table-cell;
    vertical-align: middle;
    background-color: rgba($white, 0.98);
    padding: $spacing-medium;

    @include size-restricted($quote-circle-radius);

    @include tablet-down {
        @include size-restricted($quote-circle-small-radius);
    }
}

.quote {
    @include reset-spacing;
    padding-top: 1.6rem;
    font-size: 2.1rem;

    .big {
        display: block;
        font-size: 4rem;

        @include tablet-down {
            font-size: 3rem;
        }
    }

    @include tablet-down {
        font-size: 1.8rem;
    }
}

.skill-list {
    @include reset-list;
}

.skill-item {
    @include reset-list;
    padding: $spacing-large 0;
}

.skill-item-code {
    background: url(../images/code-bg.jpg) no-repeat 0 center;
    @include background-size(cover);
    color: $white;
}

