body {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $main-text-color;
  font-family: $standard-font;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  margin-bottom: $spacing-medium;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

p {
  margin-bottom: $spacing-medium;
}

.page {
  position: relative;
}

.container-fluid {
  max-width: 1280px;
  padding: 0 $spacing-large;

  @include mobile-down {
    padding: 0 $spacing-medium;
  }
}
