.btn {
  color: white;
  transition: background-color 0.2s ease;
  border: 2px;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: $spacing-xs;
  margin-right: $spacing-xs;

  &:active, &:hover {
    box-shadow: 0 0 0 $white;
  }

  &.btn-large {
    padding: 1.2rem $spacing-md;
  }

  &.btn-full-display {
    width: 100%;
    margin-right: 0;

    @include from-md {
      width: auto;
      margin-right: $spacing-xs;
    }
  }
}

.btn {
  .fa {
    margin-right: $spacing-xs;
  }
}

.btn-success {
  $bg-color: desaturate(#2ecc71, 10%);
  background-color: $bg-color;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: darken($bg-color, 10%);
  }
}
