.info {
  background-color: darken($white, 8%);
  padding: $spacing-lg 0;

  @include from-sm {
    padding: $spacing-xl 0;
  }
}

.info-button-section {
  padding-top: $spacing-lg;
}

.portrait-ball {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  max-width: 256px;
  border-radius: 9999px
}

.contact-links {
  padding-top: $spacing-md;
}
