.proficiency-list {
  @include reset-list;
}

.proficiency-item {
  @include clearfix;
  @include reset-list;

  padding: $spacing-lg 0;

  @include from-sm {
    padding: $spacing-xl 0;
  }
}

.proficiency-item-code {
  background: url('../images/code-bg.jpg') no-repeat center 50% fixed;
  box-shadow: 0 8px 20px lighten($black, 5%) inset;
  background-size: cover;
  color: $white;
}
