.top-bar {
  height: $top-bar-mobile-height;
  position: absolute;
  z-index: $z-index-top-bar;
  top: 0;
  width: 100%;
  background-color: rgba($white, 0.5);

  @include from-md {
    height: $top-bar-height;
  }
}

%top-bar-content, .top-bar-content {
  @include vertical-center-text($top-bar-mobile-height);

  @include from-md {
    @include vertical-center-text($top-bar-height);
  }
}

.website-title {
  @include reset-spacing;
  @extend %top-bar-content;


  font-weight: bold;
  font-size: 2.6rem;
  text-transform: lowercase;
  word-spacing: -0.5ex;
  white-space: nowrap;

  @include from-sm {
    font-size: 3rem;
  }
}

.blog-link {
  @extend %top-bar-content;
  @include reset-spacing;
  @include clean-text-links($main-text-color);

  float: right;
  padding: 0 $spacing-sm;
  font-size: 1.8rem;

  &:hover {
    opacity: 0.8;
  }
}
