/* Fonts */

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol.woff);
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol-bold.woff);
    font-weight: bold;
}

$heading-font: 'Bariol', Helvetica, Arial, sans-serif;
$standard-font: 'Open Sans', Helvetica, Arial, sans-serif;

/* Colors */
$white: #ffffff;
$black: #000000;
$grey: darken($white, 50%);
$light-grey: darken($white, 25%);
$dark-grey: darken($white, 75%);
$main-text-color: lighten($black, 20%);
$soft-night: #383d44;

/* Spacing */
$spacing-base: 0.8rem;

$spacing-xs: $spacing-base * 1;
$spacing-sm: $spacing-base * 2;
$spacing-md: $spacing-base * 3;
$spacing-lg: $spacing-base * 4;
$spacing-xl: $spacing-base * 5;

/* Sizing */
$top-bar-height: 12rem;
$top-bar-mobile-height: 7rem;

/* Z-Index */
$z-index-top-bar: 100;

/* Screen sizes */
$screen-sm-min: 576px;
$screen-md-min: 737px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
