@use "mixins";
@use "variables";

.button,
.button:visited {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 2px;
  padding: variables.$spacing-sm variables.$spacing-md;
  border-radius: 99rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 0 0 0 variables.$color-white;
  }

  @include mixins.button-theme(variables.$color-dark, variables.$color-white);
}

.button--list-item {
  width: 100%;
  margin-bottom: variables.$spacing-xs;
}

.button--small {
  font-size: 1.4rem;
  padding: variables.$spacing-xs variables.$spacing-sm;
}

.button__icon {
  margin-right: variables.$spacing-xs;
}

.button--link,
.button--link:visited {
  @include mixins.button-theme(variables.$color-lightgrey, variables.$color-dark);
}

@include mixins.from-sm {
  .button--list-item {
    width: auto;
    margin-right: variables.$spacing-xs;
    margin-bottom: variables.$spacing-sm;
  }
}
