.intro {
  background: darken($color-white, 5%) url('../images/header-bg.jpg') no-repeat
    0 center;
  background-size: cover;
  padding-top: 34%;
  padding-bottom: 12%;
}

.intro__quote-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: rgba($color-white, 0.98);
  text-align: center;
}

.intro__quote {
  font-family: $heading-font;
  margin: 0;
  font-size: 1.8rem;
}

.intro__quote-big {
  font-size: 3.5rem;
}

@include from-md {
  .intro {
    padding-top: 25rem;
    padding-bottom: 15rem;
  }

  .intro__quote-circle {
    width: 30rem;
    height: 30rem;
  }

  .intro__quote {
    font-size: 2.6rem;
  }

  .intro__quote-big {
    font-size: 4.5rem;
  }
}
