@use "sass:color";
@use "mixins";
@use "variables";

.section {
  padding: variables.$spacing-lg 0;
}

.section--code {
  background: url('../images/code-bg.jpg?as=webp') no-repeat center 50%;
  box-shadow: 0 8px 20px color.adjust(variables.$color-black, $lightness: 5%) inset;
  background-size: cover;
  color: variables.$color-white;
}

.section--dark {
  color: variables.$color-white;
  background-color: variables.$color-dark;
}

@include mixins.from-md {
  .section {
    padding: variables.$spacing-xl 0;
  }

  .section--code {
    background-attachment: fixed;
  }
}
